<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="../css/lsmuahang.css">
</head>
<body>
    <div class="container">
        
        <div class="profile-section">
            <h1>Trang Thông tin cá nhân</h1>
            <div class="profile-card">
                <div class="profile-info">
                   
                    <div class="profile-picture">
                        <img src="../img/avt.jpg" alt="Profile Picture">
                    </div>
                    <h2>Lâm Nguyễn</h2>
                    <span>Đăng xuất</span>
                </div>
                <ul class="profile-menu">
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Đơn hàng của tôi</a></li>
                </ul>
            </div>
        </div>

  
        <div class="order-section">
            <h2>Đơn hàng của bạn</h2>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>Mã ĐH</th>
                        <th>Tổng giá</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody id="order-history">
            
                </tbody>
            </table>
        </div>
    </div>

    <script src="lsmuahang.js"></script>
</body>
</html>
